/*the company component style starts from here*/

body {
  background-color: #F8F8F8 !important;
  font-family: 'Roboto', sans-serif;
}

.tempButton {
  width: 50px;
  height: 50px; 
  border: none;
  border-radius: 50%;
  background-color: #1568c0;
  padding: 20px;
}
._windowHeader {
  background-color: #1565C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  height: 75px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
._windowHeader p {
  font-size: 16px;
  margin: 0;
}

._windowHeader span {
  font-size: 13px;
  font-weight: 300;
}

._logButton {
  border-radius: 8px;
  border-color: orange;
  width: 70px;
  height: 30px;
  position: absolute; right: 0;
  margin-right: 20px;
}

._windowBody {
  border-style: solid;
  border-width: 5px;
  border-color: #1565C0;
  display: flex;
  flex-direction: row;
}

._windowLeft {
  width: 40%;
}

._inQueuedClients {
  min-height: 275px;
  max-height: 275px;
  overflow-y: scroll;    
  text-align: center;
  border-bottom-style: solid; 
  border-bottom-width: 2px;
  border-color: #1565C0;
}

._dequeuedClients {
  min-height: 275px;
  max-height: 275px;
  overflow-y: scroll;    
  text-align: center;
}

._windowRight {
  width: 60%;
  border-left-width: 5px;
  border-color: #1565C0;
  border-left-style: solid;
}

._chatWindow {
  text-align: center;
}
.chatArea {
  height: 464px;
  min-height: 464px;
  max-height: 464px;
  overflow-y: scroll;
}

.roomButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.roomButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.roomButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.roomButton:hover span {
  padding-right: 25px;
}

.roomButton:hover span:after {
  opacity: 1;
  right: 0;
}

._textArea {
  padding: 18px 0px 18px 30px;
   border: none; 
  border-top: 5px;
  width: 95%;
  font-size: 15px;
  color: rgb(86, 88, 103);
  background-color: rgb(244, 247, 249);
  margin-right: 5px;
}

._windowFooter {
  background-color: #1565C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  height: 75px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  font-weight: 300;
}

/*this is the end of company side styling*/

/*this is the start of the client side styling*/

#client{
  display:block;
  position:absolute;
  float:right;
  bottom:0px;
  right:20px;
}

.msgFormat {
  /* display: block; */
  margin-left: 150px;
  padding: 17px 20px 10px 10px;
  border-radius: 6px;
  position: relative;
  /* text-align: left; */
  
  color: #fff;
  background-color: #7986CB;
  flex-direction: row;
  justify-content: flex-end;
}

.SupportDeskmsgFormat {
  margin-right: 150px;
  margin-left: 10px;
  padding: 10px 20px 10px 10px;
  border-radius: 6px;
  position: relative;
  /* text-align: left; */
  color: #263238;
  background-color: #4FC3F7;
  flex-direction: row;
  justify-content: flex-start;
}

.AdminMsgFormat {
  text-align: center; 
  padding: 10px 0 10px 0;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  min-width: '200px';
  margin-bottom: 20px;
}

.window {
  background-color: blue;
  min-width: 370px;
  min-height: 515px;
  max-width: 370px;
  max-height: 515px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.window-header {
  background-color: #1565C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  height: 75px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.window-header p {
  font-size: 16px;
  margin: 0;
}

.window-header span {
  font-size: 13px;
  font-weight: 300;
}

.window,
.window-body,
.window-footer {
  background-color: white;
}

.window-body {
  max-height: 300px;
  overflow-y: scroll;
}

.window-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 20px;*/
  border-bottom-left-radius: 10px;
}

.window-footer button {
  margin-bottom: 20px;
  width: 170px;
  height: 45px;
   /*border: 0; */
  background-color: rgb(126,147,175);
  color: white;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15%/50%;
  border: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  cursor: pointer;
}

.window-footer button:hover {
  box-shadow: 0 8px 24px rgba(0,0,0,.2);
}

.window-footer button:active,
.window-footer button:focus {
  outline:none;
}

.chat-img {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; 
}

.nameEntry {
  height: 45px;
  border: 0;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  outline: 0;
}

a {
  text-decoration: none;
  color: #b8c3ca;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  padding: 0 20px 0 44px;
  border-radius: 17px;
  background-color: hsla(0,0%,100%,.7);
  opacity: .7;
  background-image: url(https://js.intercomcdn.com/images/intercom-link-logo.dcb0e594.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 20px;
}
.chattagong-link {
  text-align-last: center;
}
.textArea {
  padding: 18px 0px 18px 30px;
  border: none;
  width: 100%;
  font-size: 15px;
  color: rgb(86, 88, 103);
  background-color: rgb(244, 247, 249);
  margin-right: 5px;
  height: 55px;
}

.textArea:active,
.textArea:focus {
  outline:none;
}

.chatField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 247, 249);
  width: 100%;
}

.gif {
  background-image: url(https://js.intercomcdn.com/images/gif-button.0eaa0461.png);
  background-size: 30px 18px;
  background-repeat: no-repeat;
  width: 30px;
  min-width: 30px;
  height: 18px;
  left: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.smiley {
  background-image: url(https://js.intercomcdn.com/images/emoji-button.9a0a2659.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  width: 18px;
  min-width: 18px;
  height: 18px;
  left: 5px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.attachment {
  background-image: url(https://js.intercomcdn.com/images/upload-button.a152384b.png);
  background-size: 16px 18px;
  background-repeat: no-repeat;
  width: 16px;
  min-width: 16px;
  height: 18px;
  left: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
